{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container-fluid content">
        <div class = "row">
            <div class="col-6 my-auto">
                {{ form_start(registrationForm) }}
                <form>
                    <div class="ma-form">
                        <div class="form-group">
                            {{ form_label(registrationForm.id_user, 'Username') }}
                            <div class="border-class">
                                {{form_widget(registrationForm.id_user, {'attr': {'class': 'border-class'}})}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form_label(registrationForm.id_user, 'Last Name') }}
                                <div class="border-class">
                                    {{ form_widget(registrationForm.lastName, {'attr': {'class': 'border-class'}}) }}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_label(registrationForm.id_user, 'First Name') }}
                                <div class="border-class">
                                    {{ form_widget(registrationForm.firstName, {'attr': {'class': 'border-class'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form_label(registrationForm.id_user, 'Email') }}
                                <div class="border-class">
                                    {{ form_widget(registrationForm.mail, {'attr': {'class': 'border-class'}}) }}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_label(registrationForm.id_user, 'Full adress') }}
                                <div class="border-class">
                                    {{ form_widget(registrationForm.adress, {'attr': {'class': 'border-class'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(registrationForm.id_user, 'Gender') }}
                            <div class="border-class">
                                {{ form_widget(registrationForm.gender, {'attr': {'class': 'border-class'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(registrationForm.id_user, 'Password') }}
                            <div class="border-class">
                                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'border-class'}}) }}
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">MAMMA MIA</button>

                        <div class="form-check-label text-center">
                            {{ form_row(registrationForm.agreeTerms)  }}
                        </div>
                    </div>
                    {{ form_end(registrationForm) }}
                </form>
            </div>

            <div class="col-4">
                <div class="titre-border mb-4 ml-0">
                    <p class="text-center h2 my-2">Join Us !</p>
                </div>
                <div class="col-5">
                    <img src="{{ asset('image/CHEZ_GUSTO_LOGO.png') }}"/>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
