{% extends 'base.html.twig' %}

{% block title %}{{ "My Account" |trans}}{% endblock %}

{% block body %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card text-center">
            <div class="card-header">
                <a href="{{ path('adminMessages') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                </a>
                Client Data
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <h6 class="textDesc">{{ "Username : " |trans}} {{ data.idUser }}</h6>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="textDesc">{{ "Email : " |trans}} {{ data.mail }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="textDesc">{{ "First Name :" |trans}} {{ data.firstName }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="textDesc">{{ "Last Name : " |trans}}{{ data.lastName }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="textDesc">{{ "Gender : " |trans}}{{ data.gender }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="textDesc">{{ "Adress : " |trans}}{{ data.adress }}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer text-muted">
                    GustoHelpService
                </div>
            </div>
        </div>
    </div>
{% endblock %}