{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container-fluid content">
        <form>
            <div class="row">
                <div class="col-6 my-auto">
                    <div class="borderTitle mb-4 ml-0">
                        <p class="text-center h2 my-2">Sit at our table...</p>
                    </div>
                    <div class="ma-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <div class="border-class">
                                        <input type="date" class="form-control" id="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="time">Time</label>
                                    <div class="border-class">
                                        <input type="time" class="form-control" id="time">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right">Book</button>
                </div>
                <div class="col-6">
                    <img src="{{ asset('image/pngwing.com-8.png') }}" width="100%" height="auto"/>
                </div>
            </div>
        </form>
    </div>
{% else %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-8 my-auto">
                <p class="mamamiaTitle">Mamamia...</p>
                <p class="mamamiaTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need to log in for this one...</p>
                <div class="row">
                    <div class="col-2 my-auto">
                    </div>
                    <div class="col-5">
                        <img src="{{ asset('image/2106829115-August113.gif') }}" width="70%" style="display: block; margin:auto; padding-bottom: 15px;"/>
                    </div>
                    <div class="col-5" style="padding-top: 10%">
                        <a href = {{ path('login') }} class="btn btn-outline-primary" role = "button" style="width: 100%">LOGIN</a>
                        <p class="underlinedText">Don't have an account? <a href = {{ path('app_register') }}>Sign Up</a></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="{{ asset('image/plat-1.png') }}" width="100%" height="auto" style="margin-top: 30px;"/>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}