{% extends 'base.html.twig' %}
{% block header %} <link rel="stylesheet" href="{{ asset('css/menuStyle.css') }}" /> {% endblock %}
{% block title %}La carte{% endblock %}

{% block body %}

    <div class="row justify-content-md-center">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('add-dish') }}" class="btn btn-primary btn-lg btn-block"> Want more ? Add more ! </a>
        {% endif %}
    </div>

    <div class="box">
        <table style="margin: auto; text-align: center; width:100%">
            <tr>
                {% for dish in dishes %}
                    <td>
                        <table style="text-align: center; margin: auto">
                            <tr>
                                <td>

                                    <img src="{{ asset(dish.photo) }}" class="imgMenu">
                                    <h2 class="textMenu" id="dishName"> {{ dish.dishName }} </h2>
                                    <h4 class="textPrix"> {{ dish.price }} € </h4>
                                    <h6 class="textDesc"> {{ dish.description }} </h6>
                                    {% if is_granted('ROLE_USER') %}
                                        <a href="{{ path('add-cart') }}?idDish={{ dish.id }} " class="btn btn-addCart"> Add to Cart </a>
                                        <a href="{{ path('add-fav') }}?idDish={{ dish.id }} " class="btn btn-primary"> Add to Favorites </a>
                                    {% elseif is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('del-dish') }}?idDish={{ dish.id }} " class="btn btn-primary"> Delete Dish </a>
                                    {% endif %}

                                </td>
                            </tr>
                        </table>
                    </td>
                    {% if dish.id % 3 == 0 %}
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                    {% endif %}
                {% endfor %}
        </table>
    </div>



{% endblock %}
