<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% block header %}{% endblock %}
</head>
<body>
<div class="container my-1">
    <div class="d-flex justify-content-between">
        <div class="my-auto">
            <a href="{{ path('user-index') }}">HOME</a>&nbsp; &nbsp; &nbsp;
            <a href="#">LA CARTE</a>&nbsp; &nbsp; &nbsp;
            <a href="{{ path('user-reserver') }}">RÉSERVATION</a>
        </div>
        <div>
            <img src="{{ asset('image/CHEZ_GUSTO_LOGO.png') }}" class="imgHeader" />
        </div>
        <div class="my-auto">
            <a href ="#"  class="btn btn-outline-primary" role = "button">CART</a>
            <div class="dropdown">
                <a class="btn btn-outline-primary dropdown-toggle" data-toggle ="dropdown" href = "#"  role = "button"></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="hrCustom ">
{% block body %}{% endblock %}
</body>
</html>

