{% extends 'base.html.twig' %}
{% block header %} <link rel="stylesheet" href="{{ asset('css/menuStyle.css') }}" />{% endblock %}
{% block title %}Vos favoris{% endblock %}

{% block body %}
    <div class="box">
        <table style="margin: auto">
        {% for fav in favs %}
            {% if fav.idUser == app.user.id %}
                {% for dish in dishes %}
                    {% if dish.id == fav.idDish %}
                            <tr>
                                <td>
                                    <img class="imgMenu" src="{{ asset(dish.photo) }}">
                                </td>
                                <td>
                                    <h2 class="textMenu">{{ dish.dishName }}</h2>
                                    <h4 class="textPrix"> {{ dish.price }} € </h4>
                                    <h6 class="textDesc"> {{ dish.description }} </h6>
                                    <a href="{{ path('del-fav') }}?idFav={{ fav.id }}" class="btn-sm btn-outline-primary"> Remove </a>
                                </td>
                            </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </table>
    </div>

{% endblock %}