{% extends 'base.html.twig' %}
{% block header %} <link rel="stylesheet" href="{{ asset('css/menuStyle.css') }}" />{% endblock %}

{% block title %}Orders{% endblock %}

{% block body %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded">

        <div class="card text-center">
            <div class="card-header">
                {{ "" |trans}}Your orders
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{ "" |trans}}Details</th>
                            <th scope="col">{{ "" |trans}}Date</th>
                            <th scope="col">{{ "" |trans}}Amount</th>
                            <th scope="col">{{ "" |trans}}Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for c in cart %}
                            {% if c.status == "close" %}
                                {% for o in order %}
                                    {% if o.getIdCartInt() == c.id %}

                                        <td><a href="{{ path('order-detail') }}?idCart={{ c.id }}&idUser={{ app.user.id }}"> {{ "" |trans}}Order N°{{ o.id }}</a></td>
                                        <td>{{ o.date|date("l d F") }}</td>
                                        <td>{{ o.amount }}</td>
                                        <td>{{ o.status }}</td>
                                        {% if o.status == "Pending confirmation" %}
                                            <td>
                                                <a href="{{ path('cancel-order') }}?orderId={{ o.id }}" class="btn btn-addCart"> {{ "" |trans}}Cancel </a>
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    </tbody>
                        {% endfor %}
                </table>
                <div class="card-footer text-muted">
                    GustoHelpService
                </div>
            </div>
        </div>
    </div>

{% endblock %}