{% extends 'base.html.twig' %}

{% block title %}My Bookings{% endblock %}

{% block body %}

    <div class="shadow-lg p-5 mb-5 bg-white rounded container">

        <div class="card text-center">
            <div class="card-header">
               My bookings
            </div>
            <div class="card-body">
                <h5 class="card-title"> My bookings @ Gusto !</h5>
                <p class="card-text">Follow and manage your bookings at a glance.</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in bookings %}
                        <tr>
                            <td>{{ reservation.dateReservation|date('Y-m-d') }}</td>
                            <td>{{ reservation.timeReservation|date('H:i') }}</td>

                            {% if reservation.available == 1 %}
                                <td>  Confirmed </td>
                                <td>
                                    <a href="{{ path('cancelBooking') }}?idRez={{ reservation.id }}" class="btn btn-addCart"> Cancel </a>
                                </td>
                            {% elseif  reservation.available == 0 %}
                                <td>  Pending confirmation </td>
                                <td>
                                    <a href="{{ path('cancelBooking') }}?idRez={{ reservation.id }}" class="btn btn-addCart"> Cancel </a>
                                </td>
                            {% elseif  reservation.available == 3 %}
                                <td>  Archived </td>
                            {% else %}
                                <td>  Canceled </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}