{% extends 'base.html.twig' %}

{% block title %}{{ "" |trans}}My Bookings{% endblock %}

{% block body %}

    <div class="shadow-lg p-5 mb-5 bg-white rounded container">

        <div class="card text-center">
            <div class="card-header">
                {{ "My bookings" |trans}}
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{ "My bookings" |trans}} @ Gusto !</h5>
                <p class="card-text">{{ "Follow and manage your bookings at a glance." |trans}}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">{{ "Date" |trans}}</th>
                        <th scope="col">{{ "Time" |trans}}</th>
                        <th scope="col">{{ "Status" |trans}}</th>
                        <th scope="col">{{ "Manage" |trans}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in bookings %}
                        <tr>
                            <td>{{ reservation.dateReservation|date('Y-m-d') }}</td>
                            <td>{{ reservation.timeReservation|date('H:i') }}</td>

                            {% if reservation.available == 1 %}
                                <td>  {{ "Confirmed" |trans}} </td>
                                <td>
                                    <a href="{{ path('cancelBooking') }}?idRez={{ reservation.id }}" class="btn btn-addCart"> {{ "Cancel" |trans}} </a>
                                </td>
                            {% elseif  reservation.available == 0 %}
                                <td>  {{ "Pending confirmation" |trans}} </td>
                                <td>
                                    <a href="{{ path('cancelBooking') }}?idRez={{ reservation.id }}" class="btn btn-addCart"> {{ "Cancel" |trans}} </a>
                                </td>
                            {% elseif  reservation.available == 3 %}
                                <td>  {{ "Archived" |trans}} </td>
                                <td></td>
                            {% else %}
                                <td>  {{ "Canceled" |trans}} </td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}